name: Continuous Integration

on:
  pull_request:
    paths-ignore:
      - README.md
      - docs/**
  push:
    paths-ignore:
      - README.md
      - docs/**

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Check formatting
        run: just check-fmt

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev libasound2-dev libudev-dev libxkbcommon-dev libwayland-dev
      - name: Linting
        run: just clippy

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev libasound2-dev libudev-dev libxkbcommon-dev libwayland-dev
      - name: Build the project
        run: just build

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev libasound2-dev libudev-dev libxkbcommon-dev libwayland-dev
      - name: Test the project
        run: just test
